@import "../../styles/vars.scss";

.list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;

  &__product {
    margin: 0 10px 10px;
  }
}
