@import "./styles/vars.scss";

.app {
  text-align: center;
  height: 100vh;

  &__title {
    margin: 50px 0 40px;
    width: 400px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 32px;
    border-bottom: 1px solid $second-color;
  }

  &__content {
    width: 400px;
  }

  &__cart-block {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.button {
  max-width: 100px;
  height: 30px;
  font-size: 14px;
  border: 2px solid $second-color;
  border-radius: $border-radius;
  background-color: white;
  color: $second-color;
  cursor: pointer;
  transition: $hover-transition;

  &:hover {
    background-color: $second-color;
    color: white;
  }

  &:focus {
    outline: 1px ridge rgba(0, 0, 0, 0.6);
    border-radius: 0;
  }
}
